*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E6A02C;
    height: 51px;
}

.cont-left{
    padding-left: 80px;
    padding-block: 15px;
}

.cont-right{
    padding-right: 80px;
}

main{
    height: 42rem;
    grid-template-areas:
        "container container container container"
        "infos infos infos infos infos infos";
}

.container{
    height: 28rem;
    grid-area: container;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.info{
    background-color: #640BA7;
    padding-left: 100px;
    width: 100%;
}

.title{
    display: flex;
    padding-block: 60px 20px;
    font-size: 64px;
    line-height: 57px;
    color: #FFFFFF;
}

p{
    font-weight: 300;
}

.info-text{
    font-size: 28px;
    width: 27vw;
    font-weight: 300;
    color: #E6A02C;
}

.botao{
    padding-top: 30px;
}

button{
    border: 0px;
    width: 12rem;
    height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px 20px 20px 20px;
    color: #640BA7;
}

.principal{
    position: absolute;
    height: 28rem;
    width: 51.6rem;
}

.quad-infos{
    grid-area: infos;
    width: 100%;
    display: grid;
    height: 21rem;
    grid-template-areas:
        "um dois tres";
}

.um{
    grid-area: um;
    background-color: #A167C9;
}

.dois{
    grid-area: dois;
    background-color: #C299DC;
}

.tres{
    grid-area: tres;
    background-color: #FFFFFF;
}