*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: 6vh 94vh;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E6A02C;
}

.cont-left{
    padding-left: 80px;
    padding-block: 15px;
    cursor: pointer;
}

.cont-right{
    padding-right: 80px;
    cursor: text;
}

main{
    display: flex;
    flex-direction: column;
}

.container{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    background-color: #640BA7;
    padding-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    font-size: 64px;
    line-height: 57px;
    color: #FFFFFF;
}

p{
    font-weight: 300;
}

.info-text{
    font-size: 28px;
    width: 27vw;
    font-weight: 300;
    color: #E6A02C;
}

.botao{
    padding-top: 30px;
}
.button{
    cursor: pointer;
}

button{
    border: 0px;
    width: 12rem;
    height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px 20px 20px 20px;
    color: #640BA7;
    cursor: pointer;
}

.principal{
    height: 100%;
}

.quad-infos{
    display: grid;
    height: 34vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.quad-infos > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.um{
    background-color: #A167C9;
    display: flex;
    flex-direction: column;
}

.icon{
    align-self: center;
}

.sol{
    height: 90px;
    padding-block: 8px;
}

.texto{
    padding-inline: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}

.dois{
    background-color: #C299DC;
    display: flex;
    flex-direction: column;
}

.ondas{
    height: 80px;
    padding-block: 10px;
}

.tres{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.face{
    height: 80px;
    padding-block: 10px;
}

.texto-tres{
    padding-inline: 30px;
    color: #640BA7;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}

.hidden {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#search-input {
    border: none;
    padding: 6px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    width: 200px; 
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.loading-indicator p {
    margin: 0;
    font-size: 16px;
    color: #640BA7;
    z-index: 1;
}

.custom-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.message-content {
    text-align: center;
    z-index: 1;
}

.message-content button {
    margin: 10px;
    z-index: 1;
}