*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --roxo: #640BA7;
    --branco: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--roxo);
    height: 95vh;
}

.icons{
    display: flex;
    padding-top: 5em;
    height: 25vh;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.sol{
    height: 5rem;
}

.ondas{
    height: 2rem;
}

.rosto{
    height: 4rem;
}

h1{
    color: var(--branco);
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 700;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
}

.img-principal{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-amarelo{
    height: 18.9rem;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #E6A02C;
    height: 51px;
}

.cont-left{
    padding-left: 80px;
    padding-block: 15px;
}

.cont-right{
    padding-right: 80px;
}

.info{
    display: grid;
    grid-template-rows: auto;
    height: 40vh;
}

picture{
    height: 50vh;
    width: 45vw;
    display: flex;
    align-items: center;
    padding-top: 110px;
    
}

.fisica{
    overflow: hidden;
    height: 55vh;
}

.fisica, .qui-bio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qui-bio{
    background-color: yellow;
}

.fisica > .info-text{
    order: -1;
    height: 50vh;
}
.moca{
    overflow: hidden;
    height: 70vh;
}

.moca, .qui-bio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qui-bio{
    background-color: yellow;
}

.moca > .info-text{
    order: -1;
    height: 50vh;
}

.quimica{
    overflow: hidden;
    height: 55vh;
}

.quimica, .qui-bio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.qui-bio{
    background-color: yellow;
}

.quimica > .info-text{
    order: 1;
    height: 50vh;
}




.info-text{
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    place-self: center;
    font-size: 1.3rem;
    color: var(--roxo);
    font-weight: 400;
    text-align: center;
    padding-inline: 37px;
    width: auto;
    font-weight: 300;
    padding-top: 1rem;
}

.qui-bio > .info-text{
    height: 50vh;
    font-size: 1.4rem;
    gap: 1rem;
}

.qui-bio > p{
    height: 30vh;
}

.relacoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "texto img"
        "texto solar";
    background-color: #7E33B7;
    height: 100%;
}

.relacoes > .info-text{
    grid-area: texto;
    order: -1;
    color: var(--branco);
    background-color: #7E33B7;
    font-size: 1.5rem;
    gap: 1rem;
}

.relacoes > p{
    height: 80vh;
}

.relacoes > .prot-solar{
    grid-area: solar;

}

.prot-solar > .info-text{
    background-color: #E1CBEE;
    color: var(--roxo);
    font-size: 1.4rem;
    height: 45.4vh;
}

.titulo{
    font-weight: 900;
    font-size: 2rem;
}

.sol-main{
    height: 70vh;
}

.protetor-main{
    height: 67.5vh;
}

.prot{
    height: 67.5vh;
}

.protetor{
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
}

/* .moca{
    grid-area: img;
    height: 70vh;
    width: ;
} */
