*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

:root{
    --roxo: #640BA7;
    --branco: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--roxo);
    height: 95vh;
}

.icons{
    display: flex;
    padding-top: 5em;
    height: 25vh;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.sol{
    height: 5rem;
}

.ondas{
    height: 2rem;
}

.rosto{
    height: 4rem;
}

h1{
    color: var(--branco);
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 700;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
}

.img-principal{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol-amarelo{
    height: 18.9rem;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #E6A02C;
    height: 51px;
}

.cont-left{
    padding-left: 80px;
    padding-block: 15px;
}

.cont-right{
    padding-right: 80px;
}

main{
    display: grid;
    grid-template-areas:
        "fisica sol"
        "protetor quibio"
        "relacoes moca"
        "relacoes sobre";
}

.sol-main{
    grid-area: sol;
    height: 30rem;
}

.fisica{
    grid-area: fisica;
}

.protetor{
    grid-area: protetor;
    height: 30rem;
}

.quibio{
    grid-area: quibio;
}

.moca{
    grid-area: moça ;
    height: 30rem;
}

.rel{
    grid-area: relacoes;
}

.sobre-protetor{
    grid-area: sobre;
}